{
  "presets": [
    [
      "env",
      {
        "modules":false
      }
    ],
    "stage-3",
    "flow",
    "jest"
  ],
  "env":{
    "test":{
      "presets":[
        "env"
      ]
    }
  }
}