.app_container {
  height: 100%;
  width: 100%;
  overflow: hidden;

  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c2e59c, #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c2e59c, #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .middle {
    height: 100%;
    width: 100%;
    display: flex;

    .left {
      flex: 1 1 50%;
      //background: red;
      width: 50%;
    }

    .right {
      flex: 1 1 50%;
      //background: blue;
      width: 50%;
      height: 100%;
    }

  }

}